<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animationsdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.animationsdemo.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.animationsdemo.AnimationCloning"
            android:label="@string/title_activity_animation_cloning" >
        </activity>
        <activity
            android:name="com.example.animationsdemo.AnimationSeeking"
            android:label="@string/title_activity_animation_seeking" >
        </activity>
        <activity
            android:name="com.example.animationsdemo.AnimatorEvents"
            android:label="@string/title_activity_animator_events" >
.        </activity>
        <activity
            android:name="com.example.animationsdemo.MediUIActivity"
            android:label="@string/title_activity_medi_ui" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>
